{% extends "base.html" %}

{% block content %}

<h1 class="title">Administrace</h1>
<div class="button-container">
    <span class="button"><a href="{% url 'continent_admin' %}">Administrace kontinentů</a></span>
    <span class="button"><a href="{% url 'country_admin' %}">Administrace zemí</a></span>
    <span class="button"><a href="{% url 'island_admin' %}">Administrace ostrovů</a></span>
    <span class="button"><a href="{% url 'city_admin' %}">Administrace měst</a></span>
    <span class="button"><a href="{% url 'hotel_admin' %}">Administrace hotelů</a></span>
    <span class="button"><a href="{% url 'meal_admin' %}">Administrace stravy</a></span>
    <span class="button"><a href="{% url 'airport_admin' %}">Administrace letišť</a></span>
    <span class="button"><a href="{% url 'transportation_admin' %}">Administrace dopravy</a></span>
</div>

{% endblock %}
