{% extends "base.html" %}

{% block content %}

<h1>Administrace</h1>
<div class="navigate">
    <a href="{% url 'continent_admin' %}"><button>Administrace kontinentů</button></a>
    <a href="{% url 'country_admin' %}"><button>Administrace zemí</button></a>
    <a href="{% url 'city_admin' %}"><button>Administrace měst</button></a>
    <a href="{% url 'hotel_admin' %}"><button>Administrace hotelů</button></a>
    <a href="{% url 'meal_admin' %}"><button>Administrace stravy</button></a>
    <a href="{% url 'travel_package_admin' %}"><button>Administrace cestovních balíčků</button></a>
    <a href="{% url 'airport_admin' %}"><button>Administrace letišť</button></a>
    <a href="{% url 'transportation_admin' %}"><button>Administrace dopravy</button></a>
</div>

{% endblock %}