{% extends "base.html" %}

{% load static %}

{% block content %}
  <h1 class="title">Země v Asii</h1>
  {% if countries %}
    <ul class="country-list">
      {% for country in countries %}
        <li>
          <div class="country-item">
            <img class="country-img" src="{% static 'images/' %}{{ country.name|slugify }}.jpg" alt="{{ country.name }}" width="300" height="250">
            <a href="{% url 'country' country.id %}" class="country-link">{{ country.name }}</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Žádné země v Asii nebyly nalezeny.</p>
  {% endif %}
{% endblock %}
ck %}