{% extends "base.html" %}


{% block content %}
<h1>{{hotel.name}} </h1>
<div class="hotel-details">
    <div class="hotel-avg-rating">Průměrné hodnocení:
        {% if avg_rating %}
            {{ avg_rating.rating__avg |floatformat:"0"}}
        {% else %}
            Dosud nehodnoceno
        {% endif %}
    </div>
    <div class="name">Hotel: {{ hotel.name }}</div>
    <div id="star-rating">Počet hvězdiček:
        {% for _ in "x"|rjust:hotel.star_rating %}
        <span class="star">&#9733;</span>
    {% endfor %}
    </div>
    <div id="hotel-city">Město: {{ hotel.city }}</div>
    <div id="hotel-country">Stát: {{ hotel.city.country }}</div>
    <div class="images">
        {% for image in hotel.get_images %}
        <div class="image-container"><img src="{{ image.image.url }}" alt="{{ image.description }}" width="350px"></div>
        {% endfor %}
    </div>
    <div id="hotel-description">Popis: {{ hotel.description }}</div>
    <h2>Vyberte svůj pobyt:</h2>
    <form method="post" action="{% url 'create_purchase' %}">
        {% csrf_token %}

        <label>Datum příjezdu:</label>
        <input type="date" id="arrival_date" name="arrival_date" required>
        {% for error in form.errors.arrival_date %}
            <p class="error">{{ error }}</p>
        {% endfor %}

        <label for="departure_date">Datum odjezdu:</label>
        <input type="date" id="departure_date" name="departure_date" required>
        {% for error in form.errors.departure_date %}
            <p class="error">{{ error }}</p>
        {% endfor %}


        <label>Výběr stravy:</label>
        <select id="meal_plan" name="meal_plan" required>
            {% for meal_plan in meal_plans %}
                <option value="{{ meal_plan.id }}">{{ meal_plan.name }}</option>
            {% endfor %}
        </select>


        <label>Doprava:</label>
        <select id="transport" name="transport" required>
            <option value="no_transport">Bez dopravy</option>
            <option value="flight">Letecky</option>
        </select>

        <button type="submit">Rezervovat</button>

    </form>
    </div>
    {% if request.user.is_authenticated %}
        {% if user_rating %}
            Vaše hodnocení je: {{ user_rating.rating }}
        {% endif %}
        <form method="post" action="{% url 'rate_hotel' %}">
            {% csrf_token %}
            <label for="rating">Hodnocení hotelu (0-100):</label>
            <input type="number" id="rating" name="rating" min="0" max="100">
            <input type="hidden" name="hotel_id" value="{{ hotel.id }}">
            <input type="submit">
        </form>
        {% if perms.viewer.change_hotel %}
            <a href="{% url 'hotel_update' hotel.id %}"><button>Upravit</button></a>
        {% endif %}
        {% if perms.viewer.delete_hotel %}
            <a href="{% url 'hotel_delete' hotel.id %}"><button>Smazat</button></a>
        {% endif %}
    {% endif %}

    {% if request.user.is_authenticated %}
    <form action="{% url 'add_comment' %}" method="post">
        {% csrf_token %}
        <label for="rating">Přidat komentář:</label>
        <div>
            <textarea name="comment" cols="100" rows="5"></textarea>
        </div>
        <input type="hidden" name="hotel_id" value="{{ hotel.id }}">
        <input type="submit" value="Odeslat komentar">
    </form>
    {% endif %}

    <h3>Komentáře k hotelu:</h3>
    {% for comment in comments %}
        <p>
            <h6><strong>{{ comment.user }}</strong></h6>
            <h6>{{ comment.created }}</h6>
            {{ comment.comment }}
        </p>
        <hr>
    {% empty %}
        Zatím žádný komentář.

    {% endfor %}
</div>
{% endblock %}
