{% extends "base.html" %}

{% load static %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        {{ prices_formset.management_form }}
        {% for form in prices_formset.forms %}
            {{ form.as_table }}
        {% endfor %}
        <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
        {{ form.media }}
        {{ prices_formset.media }}
    </table>
    <input type="submit" value="Potvrdit" class="btn btn-submit">
</form>
{% endblock %}
