{% extends "base.html" %}

{% block content %}
  <h3 class="title">Hotel: {{ request.session.hotel_name }}</h3>
  <div class="customer">
    Zákazník: {{ request.user }}
  </div>
  <div class="reservation-form">
    <form method="post" action="{% url 'purchase_create' %}">
      {% csrf_token %}
      {{ purchase_form.as_p }}

      <div class="travelers">
        <label>Informace o cestujících:</label>
        {% for traveler_form in traveler_forms %}
          <div class="traveler-form">
            {{ traveler_form}}
          </div>
        {% endfor %}
      </div>

      <input type="hidden" id="hotel_id" name="hotel_id" value="{{ request.session.hotel_id }}">
      <button type="submit">Potvrdit rezervaci</button>
    </form>
  </div>
{% endblock %}