{% extends "base.html" %}

{% load static %}

{% block content %}

<h1 class="title">Potvrzení rezervace</h1>
<h3 class="title">Děkujeme za vaši rezervaci!</h3>
  <div class="reservation-confirmation">
    <div class="reservation-details">
      <p><strong>Hotel:</strong> {{ hotel_name }}</p>
      <p><strong>Zákazník:</strong> {{ customer }}</p>
      <p><strong>Příjezd:</strong> {{ arrival_date }}</p>
      <p><strong>Odjezd:</strong> {{ departure_date }}</p>
      <p><strong>Počet cestujících:</strong> {{ travelers }}</p>
      <p><strong>Strava:</strong> {{ meal_plan }}</p>
      <p><strong>Doprava:</strong> {{ transportation }}</p>
      <p><strong>Celková cena:</strong> {{ total_price }}</p>
    </div>
  </div>
{% endblock %}