* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

.headContainer {
    height: 380px;
    width: 100vw;
    background-image: url('/static/images/beach2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.headContainer-title {
    background-color: rgba(0, 255, 255, 0.7);
    color: yellow;
    font-size: 1.8em;
    padding: 0px 40px;
    margin: 20px;
    text-align: center;
    margin: 0 auto;
    font-style: italic;
    font-family: 'Your-Handwritten-Font', cursive;
    text-shadow: 5px 5px 8px #333;
    border-radius: 50%;
}

.navContainer {
    height: 50px;
    width: 100vw;
    background: rgba(8, 197, 203);
    display: flex;
    justify-content: flex-end;
    padding: 0px 30px;
    align-items: center;
    border: none;
}

.navContainer2 {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(8, 197, 203), white);
    border: hide;
}

.button a,
.nav-button a {
    display: flex;
    color: #ffff33;
    text-decoration: none;

}

.nav-button,
.button,
button {
    display:flex;
    justify-content: center;
    align-items: center;
    background:  #009999;
    color: #ffff33;
    font-weight: bold;
    border-radius: 5px;
    border: 1.5px solid black;
    overflow: hidden;
    cursor: pointer;
    transition: linear .3s;
}
.nav-button:hover,
.button:hover,
button:hover {
    transform: scale(1.2);
    border: 1.5px solid black;
}
.navContainer span.nav-button,
.navContainer span.button {
    height: 30px;
    min-width: 120px;
    font-size: 1em;
}

.navContainer2 span.nav-button,
.navContainer2 span.button {
    height: 60px;
    width: 170px;
    font-size: 1.2em;
}

footer {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: end;
    position: end;
    bottom: 0;
}

.index {
    margin: 0 auto;
    max-width: 1080px;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
}

.star-rating {
  font-size: 24px;
}

.star {
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.star input {
  display: none;
}

.star label {
  float: right;
  color: #ccc;
}

.star label:before {
  content: '\2605';
}

.star input:checked ~ label {
  color: #fdd835;
}

.city-list,
.country-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.transportation-item,
.city-item,
.country-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  text-align: center;
}

.city-img,
.country-img {
  border: 1px solid #ddd;
  padding: 5px;
}

.city-link,
.country-link {
  text-decoration: none;
  color: #333;
  margin-top: 5px;
  font-weight: bold;
  font-size: 1.4em;
}

.city-link:hover,
.country-link:hover {
  text-decoration: underline;
}

.title {
  text-align: center;
  text-size: 2.1em;
  margin-top: 50px;
  font-weight: bold;
}


.hotel-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.filter-section {
    margin-bottom: 10px;
    width: 100%;
}

.star-rating {
    display: flex;
    align-items: center;
}

.star {
    margin-right: 10px;
}

.hotel-list {
    list-style: none;
    padding: 0;
}

.hotel-list li {
    margin-bottom: 10px;
}

.session_offer {
    width: 70vw;
    margin: 0 auto;
}

.index-title {
    text-align: center;
}

.session-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.arrow {
    font-size: 24px;
    cursor: pointer;
}

.image-container {
    width: 70%;
    position: relative;
}

.destination-image {
    width: 100%;
    height: auto;
    display: block;
}

.destination-name {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 10px;
}

.highlighted-arrow {
    color: black;
}


.hotels-container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.filters {
    flex: 0 0 20vw;
    background: linear-gradient(to right, #aaf0e0, white);
    padding: 10px;
}

.filter-section,
.star-rating,
.customer-rating,
.price-section {
    width: 100%;
    margin-bottom: 10px;
}

.hotels-city {
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}

.hotels {
    flex: 1;
    padding: 10px;
}

.hotel-list {
    display: flex;
    flex-wrap: wrap;
}


.hotel-item {
    flex: 0 0 calc(25% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.image-container {
    margin-top: 10px;
}


.hotel-details {
    margin: 3%;
    font-size: 18px;
}

.star {
    color: #ffcc00;
}

#star-rating,
#hotel-data,
#name{
    font-weight: bold;
    font-size: 18px;
    color:black;
}

.hotel-avg-rating {
    font-weight: bold;
    font-size: 20px;
    color:black;
}

.hotel-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-hotel-container {
    flex: 0 0 calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
}

.image-hotel-container img {
    width: 100%;
    height: auto;
}

.accommodation-options {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
}

.accommodation-options > div {
    flex: 3 30%;
    margin-bottom: 20px;
}

.accommodation-options form {
    width: 100%;
}

.accommodation-options select,
.accommodation-options input {
    width: 20%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.hotel-page form {
    flex: 0 0 calc(100% - 10px);
    max-width: calc(100% - 10px);
    margin-top: 20px;
}

.accommodation-options label {
    display: row;
    margin-top: 10px;
    font-weight: bold;
}

.hotel-page input,
.hotel-page select,
.hotel-page textarea {
    width: 300px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#travelers,
#total_price {
    font-weight: bold;
    font-size: 20px;
}

#reservation_button {
    height: 40px;
    width: 120px;
    font-size: 19px;
}


#error_adults_single_rooms,
#error_children_single_rooms,
#error_adults_double_rooms,
#error_children_double_rooms,
#error_adults_family_rooms,
#error_children_family_rooms,
#error_adults_suite_rooms,
#error_children_suite_rooms {
    color: red;
    font-size: 14px;
}

#person_error_message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

#comment_form {
    margin-top: 20px;
}

.customer {
  margin-top: 10px;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.reservation-form {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.travelers label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.traveler-form {
  margin-bottom: 15px;
}

.button-container {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-container a {
  text-decoration: none;
  flex: 0 0 calc(30% - 5px);
  margin-right: 10px;
}

.button-container span.button {
    display: flex;
    flex-direction: column; /* Přidáno pro správné zarovnání textu uvnitř tlačítka */
    justify-content: center; /* Přidáno pro správné zarovnání textu uvnitř tlačítka */
    align-items: center; /* Přidáno pro správné zarovnání textu uvnitř tlačítka */
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    width:33%;
}

.profile-container,
.edit-container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.left-section {
  width: 60%;
}

.right-section {
  width: 35%;
}


.login-form {
  width: 40%;
  min-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.create-container{
  width: 40%;
  min-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.signet_as {
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
}

.reservation-confirmation {
    display: flex;
    align-items: center;
    width: 40%;
    min-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reservation-details {
    margin-top: 20px;
}

.reservation-details p {
    margin: 5px 0;
}


.reservation-informations,
.travelers-data {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reservation-informations p,
.travelers-data .traveler-detail p {
  margin: 10px 0;
}

.traveler-detail {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.profile-purchases {
  max-width: 800px;
  margin: 20px auto;
}

.profile-purchases a {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

.profile-purchases a:hover {
  background-color: #ddd;
}

.no-offers {
  text-align: center;
  color: #888; /* Barva šedé pro zprávy o chybě */
  font-style: italic;
}

.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.offers img {
    width: 800px;
    height: auto;
    margin-bottom: 10px;
}

.transportation-list {
    width: 40%
    margin: 0 auto;
}