{% load static %}

<!DOCTYPE html>
<html lang="cs">
<head>
    <title>Travel portal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'viewer/styles.css' %}">
</head>
<body>
    {% if not view.is_popup %}
    <header class="headContainer">
        <h2 class="title">Pozor nejedná se o skutečnou cestovní kancelář! Jde pouze o ukázkovou stránku.</h2>
        <a href="{% url 'index' %}" class="headContainer-title"><h1>Eden</h1></a>
    </header>
    <nav class="navContainer">
        {% if request.user.is_authenticated %}
            <p class="signet_as">Přihlášen jako: {{ request.user.username }} </p>
        <span class="nav-button"><a href="{% url 'logout' %}" id="logout">Odhlásit se</a></span>
            {% if request.user.profile %}
                <span class="nav-button"><a href="{% url 'profile' pk=request.user.profile.pk %}" id="profile-button">Profil</a></span>
            {% else %}
                <span class="nav-button"><a href="{% url 'profile_create' pk=request.user.pk %}" id="create-profile-btn">Vyvořit profil</a></span>
            {% endif %}
        {% else %}
            <span class="nav-button"><a href="{% url 'signup' %}" id="signup">Registrovat se</a></span>
            <span class="nav-button"><a href="{% url 'login' %}" id="login">Přihlásit se</a></span>
        {% endif %}
        {% if request.user.is_superuser %}
        <span class="nav-button"><a href="/admin/" id="Admin">Admin</a></span>
        {% endif %}
    </nav>
    <nav class="navContainer2">
        <span class="nav-button"><a href="{% url 'europe' pk=1 %}" id="Europe">Evropa</a></span>
        <span class="nav-button"><a href="{% url 'asia' pk=3 %}" id="Asia">Asie</a></span>
        <span class="nav-button"><a href="{% url 'africa' pk=4 %}" id="Africa">Afrika</a></span>
        <span class="nav-button"><a href="{% url 'america' pk=2 %}" id="America">Amerika</a></span>
        <span class="nav-button"><a href="{% url 'hotels' %}" id="Hotels">Hotely</a></span>
        <span class="nav-button"><a href="{% url 'first_minute' %}" id="First_minute">First minute</a></span>
        <span class="nav-button"><a href="{% url 'last_minute' %}" id="Last_minute">Last minute</a></span>
        {% if user.is_authenticated and user.is_staff %}
            <span class="nav-button"><a href="{% url 'administration' %}" id="Administration">Administrace</a></span>
        {% endif %}
    </nav>
    {% endif %}
    <main class="article">
        {% block content %}{% endblock %}
    </main>
    <footer>Copyright created by Marcel Jurčák 2024</footer>
    <script src="{% static 'viewer/script.js' %}"></script>
</body>
</html>