{% load static %}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'viewer/styles.css' %}">
</head>
<body>
    {% if not view.is_popup %}
    <header class="headContainer">
        <a href="{% url 'index' %}" class="headContainer-title"><h1>Eden</h1></a>
    </header>
    <nav class="navContainer">
        {% if request.user.is_authenticated %}
            <p class="signet_as">Přihlášen jako: {{ request.user.username }} </p>
            <a href="{% url 'logout' %}"><button id="logout">Odhlásit se</button> </a>
            {% if request.user.profile %}
                <a href="{% url 'profile' pk=request.user.profile.pk %}"><button id="profile-button">Profil</button></a>
            {% else %}
                <a href="{% url 'profile_create' pk=request.user.pk %}"><button id="create-profile-btn">Vyvořit profil</button></a>
            {% endif %}
        {% else %}
            <a href="{% url 'signup' %}"><button id="signup">Registrovat se</button> </a>
            <a href="{% url 'login' %}"><button id="login">Přihlásit se</button> </a>
        {% endif %}
        {% if request.user.is_superuser %}
            <a href="/admin/"><button id="Admin">Admin</button> </a>
        {% endif %}
    </nav>
    <nav class="navContainer2">
        <a href="{% url 'europe' pk=1 %}"><button id="Europe">Evropa</button> </a>
        <a href="{% url 'asia' pk=3 %}"><button id="Asia">Asie</button> </a>
        <a href="{% url 'africa' pk=4 %}"><button id="Africa">Afrika</button> </a>
        <a href="{% url 'america' pk=2 %}"><button id="America">Amerika</button> </a>
        <a href="{% url 'hotels' %}"><button id="Hotels">Hotely</button> </a>
        <a href=""><button id="First minute">First minute</button> </a>
        <a href=""><button id="Last minute">Last minute</button> </a>
        {% if user.is_authenticated and user.is_staff %}
            <a href="{% url 'administration' %}"><button id="Administration">Administrace</button></a>
        {% endif %}
    </nav>
    {% endif %}
    <main class="article">
        {% block content %}{% endblock %}
    </main>
    <footer>Copyright created by Marcel Jurčák 2024</footer>
    <script src="{% static 'viewer/script.js' %}"></script>
</body>
</html>